        @define-color foreground #eff0f1;
        @define-color foreground-inactive #7f8c8d;
        @define-color background #232629;
        @define-color background-alt #31363b;

        * {
           font-family: FantasqueSansMono Nerd Font;
           font-size: 16px;
           padding: 0;
           margin: 0;
         }
         
         #waybar {
           color: @foreground;
           background-color: @background;
         }
         
         #workspaces button {
           color: @foreground-inactive;
           padding: 0.3rem;
         }
         
         #workspaces button.active {
           color: @foreground;
           background-color: @background;
         }
         
         #custom-music,
         #custom-power,
         #custom-lock,
         #custom-reboot,
         #custom-quit,
         #tray,
         #backlight,
         #clock,
         #battery,
         #wireplumber,
         #network,
         #group-power,
         #bluetooth {
           background-color: @background;
           border-radius: 3px;
           padding-left: 0.5em;
           padding-right: 0.5em;
           margin-left: 0.3em;
         }
         
